body {
  background-image: url(../assets/img/sfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 1000px;
}

.ap-box {
  background-color: rgba(20, 20, 218, 0.565);
  width: 70%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.50);
  padding: 20px;
  margin-top: 50px;
}

h1 {
  color: rgba(31, 46, 208, 0.688);
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-bottom: 50px;
  color: white;
}

li {
  margin: 10px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

input {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid;
}

select {
  margin-top: 20px;
}

button {
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 10px;
  color: red;
}

.container-ticket {
  width: 70%;
  height: 300px;
  background-color: rgba(20, 20, 218, 0.565);
  margin-top: 50px;
  border-radius: 15px;
}

.container-ticket .ticket {
  width: 95%;
  height: 90%;
  background-color: white;
  border-radius: 10px;
}

.container-ticket .ticket .passenger {
  width: 32%;
  height: 100%;
  background-color: gray;
  border-right: 3px solid rgba(20, 20, 218, 0.565);
}